! XFT
Xft.dpi:       96
Xft.antialias: true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hinting:   true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcdefault

! COLORS
*background: black
*foreground: white

*color0:  rgb:00/00/00
*color1:  rgb:70/50/50
*color2:  rgb:60/b4/8a
*color3:  rgb:df/af/8f
*color4:  rgb:9a/b8/d7
*color5:  rgb:dc/8c/c3
*color6:  rgb:8c/d0/d3
*color7:  rgb:ff/ff/ff
*color8:  rgb:3f/3f/3f
*color9:  rgb:dc/a3/a3
*color10: rgb:72/d5/a3
*color11: rgb:f0/df/af
*color12: rgb:94/bf/f3
*color13: rgb:ec/93/d3
*color14: rgb:93/e0/e3
*color15: rgb:dc/dc/dc

! FADING
*fadeColor: black
*fading:    90

! CURSOR
*cursorColor: rgb:ff/5f/00
